.container
  .row-fluid
    %fieldset
      %legend Campaign Listing

      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th= sortable 'active', 'Campaign Status'
          %th= sortable 'name', 'Campaign Name'
          %th Routes
          %th= sortable 'base_airlines', 'Base Airlines'
          %th= sortable 'comparative_airlines', 'Comparative Airlines'
          %th= sortable 'advance_days', 'Advance Purchase Days'
          %th= sortable  'length_of_stay', 'Length of Stay'
          %th= sortable 'score', 'Score Threshold'
          %th Schedule
          %th Actions
        - @campaigns.each do |campaign|
          %tr
            %td
              -if campaign.active
                %span.label.label-success ACTIVE
              -else
                %span.label.label-important INACTIVE
            %td= campaign.name.upcase
            %td= campaign.routes_text
            %td= campaign.base_airlines
            %td= campaign.comparative_airlines
            %td= campaign.advance_days
            %td= campaign.length_of_stay
            %td= campaign.score
            %td= campaign.schedule_text
            %td
              .btn-toolbar{:style => 'width:160px;'}
                = link_to edit_campaign_path(campaign) do
                  %button.btn.btn-mini.btn-primary Edit
                = link_to campaign, method: :delete, data: { confirm: 'Are you sure?' } do
                  %button.btn.btn-mini.btn-danger Destroy
                = link_to deactivate_campaign_path(campaign) do
                  %button.btn.btn-mini.btn-warning
                    = campaign.active ? 'Deactivate' : 'Activate'

      %br
      = will_paginate @campaigns

      = link_to 'New Campaign', new_campaign_path

