.row-fluid
  .span6.offset3
    %fieldset
      %legend Campaign Listing

      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th Campaign Name
          %th Routes
          %th Base Airlines
          %th Comparative Airlines
          %th Advance Purchase Days
          %th Length of Stay
          %th Score
          %th Actions
        - @campaigns.each do |campaign|
          %tr
            %td= campaign.name.upcase
            %td= campaign.routes_text
            %td= campaign.base_airlines
            %td= campaign.comparative_airlines
            %td= campaign.advance_days
            %td= campaign.length_of_stay
            %td= campaign.score
            %td= link_to 'Edit', edit_campaign_path(campaign), :class => "btn btn-mini"
            %td= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini"

      %br

      = link_to 'New Campaign', new_campaign_path

