.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .nav-collapse.container-fluid.collapse
        =link_to root_url, class: 'brand' do
          %span.blue DAYO
        %ul.nav
          %li{:class => controller.is_a?(CampaignsController) ? 'active' : ''}
            = link_to "Campaigns", campaigns_path
          %li{:class => controller.is_a?(DsssPackagesController) ? 'active' : ''}
            = link_to "Dsss Packages", dsss_packages_path
          %li{:class => controller.is_a?(ReportsController) ? 'active' : ''}
            = link_to "Reports", reports_path
          %li{:class => controller.is_a?(AuditsController) ? 'active' : ''}
            = link_to 'Audits', audits_path

        %ul.nav.pull-right
          .btn-group
            = link_to '#', :class => 'btn btn-primary' do
              %i.icon-user.icon-white
              Account
            =link_to "#", :class => "btn btn-primary dropdown-toggle", 'data-toggle' => 'dropdown' do
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to '#' do
                  %i.icon-pencil
                  Profile
              %li
                %i.icon-off
                Logout
