-c = @campaign
.container-fluid
  .row-fluid
    %fieldset
      %legend= "Statistics for campaign #{c.name}"

    .span5
      %h3 Lists
      %ol
        - c.lists.each do |l|
          %li
            %h6.blue=l.title
            %ul
              - l.recipients.each do |r|
                %li=r.name

    .span5
      %h3 Schedules
      -c.schedules.each do |s|
        = "Starting: #{s.stating_date.to_formatted_s(:short)}, ending: #{s.ending_date.to_formatted_s(:short)}, frequence: #{s.frequence}"

      %h3= "Visits (#{c.visits_nr})"
      %ul
        -c.recipients_visited.each do |r|
          %li= r.name

      %h3= "Bounces (#{c.bounces_nr})"
      %ul
        -c.campaign_bounces.each do |b|
          %li= "#{b.bounce_type} - #{b.reason} - #{b.created_at.to_formatted_s(:short)}"

      %h3= "Unsubscribes (#{c.unsubscribes_nr})"
      %ul
        -c.campaingn_unsubscribes.each do |u|
          %li= "#{u.recipient.name} - #{u.recipient.email} - #{u.created_at.to_formatted_s(:short)}"
