.row-fluid
  .span6.offset3
    %fieldset
      %legend Reports for current account

      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th Campaign Name
          %th Origin
          %th Destination
          %th Base Airlines
          %th Comparative Airlines
          %th Advance Purchase Days
          %th Length of Stay
          %th Score
          %th Actions
        - @campaigns_stats.each do |c|
          %tr
            %td= c.name
            %td= c.base_airlines
            %td= c.comparative_airlines
            %td= c.advance_days
            %td= c.length_of_stay
            %td= c.score
            %td= c.active
            %td= link_to 'Show Details', report_campaign_details_path(c), :class => "btn btn-mini"
